#add-trigger-form.modal.fade(tabindex='-1', style='display: none;')
  .modal-dialog
    .modal-content
      form(ng-submit='postNewTrigger()')
        .modal-header
          button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
          h3.modal-title New Trigger
        .modal-body
          .form-group.label-floating
            label.control-label Name
            input.form-control(type='text', placeholder='New Trigger', ng-model='newTrigger.name')
          .form-group.label-floating
            label.control-label Description
            input.form-control(type='text', placeholder='What does this trigger do?', ng-model='newTrigger.description')
          .form-group.label-floating
            label.control-label Input
            select.form-control(ng-model='newTrigger.input', 
            ng-options='input.name for input in inputs track by input._id')
          label(ng-show='newTrigger.conditions.length') Condition(s)
            .form-group.form-group-sm(ng-repeat='c in newTrigger.conditions')
              div.row
                div.col-xs-4
                  input.form-control(type='text', placeholder='Key', ng-model='newTrigger.conditions[$index].key')
                div.col-xs-3
                  select.form-control(ng-init='newTrigger.conditions[$index].operator = operators[0]', 
                  ng-model='newTrigger.conditions[$index].operator', 
                  ng-options='o as o for o in operators')
                div.col-xs-3
                  input.form-control(type='text', placeholder='Value', ng-model='newTrigger.conditions[$index].value')
                div.col-xs-2
                  select.form-control(ng-model='newTrigger.conditions[$index].opchain',
                  ng-options='p as p for p in opchains', 
                  ng-show='showOpchain($index)')
        .modal-footer
          button.btn.btn-success(type='button', ng-click='addCondition()') Add Condition
          button.btn.btn-primary(type='submit') Submit
